
.flex-principal{
        display: flex;
        flex-direction: column;
        align-items: center;
        
}

@media screen and (min-width: 768px) {
        .flex-principal{
                flex-direction: row;
                align-items: initial;
                justify-content: space-between;
        } 
                
}

