.pesquisa-principal__lupa{
        margin-left: 10vw;
}

.pesquisa-principal__input-pesquisa{
        position: absolute;
        top: 140px;
        left: 7vw;
        width: 80vw;
        height: 20px;
        padding: 5px 10px;
        display:none;
}

.botao-primario{
        display: none;
}

@media screen and (min-width: 768px) {
        .pesquisa-principal__lupa{
                display: none;
        }

        .pesquisa-principal__input-pesquisa{
                display: block;
                position: static;
                width: 30vw;
        }

        .botao-primario{
                background-color: #ca0e1f;
                color: white;
                width: 150px;
                height: 34px;
                border: none;
              
        }

        .flex-pesquisa{
                display: flex;
        }


  
                      
  }