.flex-menu{
        display: flex;
        align-items: center;
}

.menu-principal__btn-menu{
        position: absolute;
        left: 5vw;
            
}

.menu-principal__barra{
        width: 30px;
        height: 4px;
        background-color: #000000;
        margin-bottom: 4px;
}

.menu-principal{
        position: absolute;
        top: 140px;
        width: 100vw;
        left: 0;
        background-color: #ec1d25;
        text-align: center ;
        display: none;
}

.menu-principal__a{
        display: block;
        padding: 15px;
        border-bottom: 1px solid rgba(145, 14, 18, 0.569);
        text-decoration: none;
        color: #ffffff;
       
}

@media screen and (min-width: 768px) {
      .menu-principal__btn-menu, .menu-principal__barra{
              display: none;
      }

      .flex-menu{
              justify-content: space-between;
      }

      .menu-principal{
              display: block;
             
      }

      .menu-principal__a{
              display: inline-block;
              border-bottom: none;
              margin-right: 35px;
      }

                    
}