.acesso-conta{
        background-color: #231f20;
        text-align: center;
        color: #ffffff;
        padding: 10px;
        margin-bottom: 30px;
}

.acesso-conta__a{
        color: inherit;
}