.flex-contato{
        display: flex;
        flex-direction: column;
        
}

.contato{
        width: 100vw;
        margin-bottom: 60px;
       
}

.contato__mapa{
        margin-top: 40px;

}

.contato__dados{
        width: 100%;
        padding: 10px;
        border-bottom: 1px solid rgba(78, 78, 78, 0.705);
}

.contato__dados p {
        margin-bottom: 10px;
}

.contato__redes-sociais{
        margin-top: 30px;
        text-align: center;
}

.contato_icone-redes-sociais{
        margin-right: 5px;
}



@media screen and (min-width: 768px) {

        .flex-contato{
                flex-direction: row;
                align-items: initial;
                justify-content: space-around;
        }

        .contato__dados{
                border-bottom: none;
        }

        .contato__mapa{
                margin-top: 0px;
                margin-left: 40px;
        
        }
                      
  }

  @media screen and (min-width: 1024px){
        .contato__mapa{
                width: 400px;
                height: 300px;
        }
  }