.exibe-pagina-selecionada{
        margin-bottom: 15px;
}

.exibe-pagina-selecionada a{
        text-decoration: none;
        color: #000000;
}

.menu-filtros{
        border: 1px solid #e2dedd;
        padding: 10px;
        margin: 0 auto 30px;
}

.menu-filtros__section{
        margin-bottom: 40px;
}

.menu-filtros__h1{
        margin-bottom: 25px;
        font-size: 1.4em;
}

.menu-filtros__h2{
        margin-bottom: 10px;
        font-size: 1.1em;
}

.menu-filtros__ul{
        margin-bottom: 30px;
        color: #606060;
        list-style: none;
}

.menu-filtros__ul a{
        margin: 0 0 5px 2px;
        text-decoration: none;
}

.flex-filtro-cores{
        display: flex;
        width: 100%;

}

.menu-filtros__tabela-cores{
        width: 25vw;
        height: 30px;
        margin-right: 5px;
}

.menu-filtros__tabela-cores a{
        display: block;
}

.bg-vermelho{
        background-color: #cc0c21;
}

.bg-laranja{
        background-color: #f36324 ;
}

.bg-azul{
        background-color: #26a3a9 ;
}


@media screen and (min-width: 768px) {
      
        .menu-filtros{
                width: 20vw;
                margin: 0;
        }

        .menu-filtros__tabela-cores{
                width: 6vw;
                height: 20px;
                
        }

        .exibe-pagina-selecionada{
                margin-top: 90px;
        }
                      
  }




