*{
        margin: 0;
        padding: 0;
}

body{
        font-family: 'Open Sans', sans-serif;
        overflow-x: hidden;
}

.centralizar-conteudo{
        width: 90%;
        margin-left: auto;
        margin-right: auto;
}

.sublinhado{
        text-decoration: underline;
}

.negrito{
        font-weight: bolder;
}

.mar-top-400{
        margin-top: 400px;
}


.fonte-cinza{
        color: #606060;
}

.fonte-vermelha{
        color: #ec1d25;
}

.fonte-verde{
        color: #5e908f;
}

.uppercase{
        text-transform: uppercase;
}


@media screen and (min-width: 1440px){
        .centralizar-conteudo{
                width: 70%;
        }
}

