.logo-principal{
        width: 150px;
        margin-left: 20vw;
}

.logo-principal__img{
        width: 100%;
}

@media screen and (min-width: 768px) {
      
        .logo-principal{
                margin-left: 0;
        }
                      
  }