.produtos__h1{
        font-size: 1.8em;
        margin-bottom: 10px;
}

.produtos__label {
        font-size: 0.7em;
        margin-right: 10px;
}

.produtos__select{
        width: 68%;
        padding: 5px;
        border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
}

.produtos__container{
        margin: 30px 0 0;
}

.produtos__container__section{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
}

.produtos__container__conteudo{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 40%;
        margin-bottom: 30px;
}

.produtos__container__img{
        width: 100%;
        max-width: 150px;
        border: 1.2px solid #e7e6e4;
        padding: 10px;
        margin-bottom: 5px;
}

.produtos__container__nome_produto{
        margin-bottom: 35px;
}

.produtos__container__preco_produto{
        font-weight: 900;
}

.numero_paginas{
        margin: 5px 0 30px;
        text-align: center;
}

.delimitador{
       color: #95bdb4; 
}

.numero_paginas__numero{
        margin: 0 10px;
        text-decoration: none;
}

.botao-comprar{
        display: none;
}

@media screen and (min-width: 768px) {

        .flex-filtrar-dropbox{
                border: 1.2px solid #e7e6e4;
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-left: -1vw;
                padding: 5px;
        }

        .div-dropbox{
                width: 60%;
                position: relative;
                left: 25px;
        }
      
       .produtos{
               width: 65vw;
               margin-left: 2vw;
       }

       .produtos__container__conteudo{
               width: 30%;
       }

       .produtos__select{
               width: 60%;
       }

       .produtos__container__preco_produto{
               margin-bottom: 10px;
       }

       .botao-comprar{
                display: block;
                width: 90%;
                background-color: #80bdb8;
                color: white;
                text-decoration: none;
                padding: 10px;
                text-align: center;
                font-size: 1.2em;
                border-radius: 5px;
                -moz-border-radius: 5px;
                -webkit-border-radius: 5px;
    
        }
                      
  }

  @media screen and (min-width: 1024px){
        .produtos__container__conteudo{
                width: 20%;
                margin-left: 15px;
        }

        .produtos__container__conteudo:last-child{
                margin-left: 0;
        }
  } 